$FontRegular: "Open Sans Regular";
$FontLight:"Open Sans Light";
$FontBold:"Open Sans SemiBold";
$FontLightCond: "Open Sans Condensed Light";
$FontBoldCond:"Open Sans Condensed Bold";
$FontRegularRusso:"Russo One Regular";

$black:#000;
$white:#fff;
$brown: #311901;
$lightbroun: #311901c4;
$orangeLight: rgba(243, 150, 57, 0.8);
$orangeDark: rgba(255, 144, 38, 0.7);
$orange: #F39639;
$grey: rgba(63, 35, 19, 0.2);

$xxl: 1610px;
$xl: 1426px;
$lg: 1239px;
$md: 1034px;
$sm: 810px;
$xs: 490px;