@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Open Sans Condensed Light';
    src: url('../fonts/OpenSansCondensed-Light.ttf');
}
@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('../fonts/OpenSansCondensed-Bold.ttf');
}
@font-face {
    font-family: 'Russo One Regular';
    src: url('../fonts/RussoOne-Regular.ttf');
}