section.about 
    .container 
        .about__multimax 
            img(src="../img/multimax.png", alt="Multimax", loading="lazy")
            .about__multimax__descr Multimaxx Ltd has been in the entertainment market for over 10 years. We know what your guests would like. We are gurus of fun as we run a chain of our own entertainment centres.
        .about__picture
            img(src="../img/best_shot_bar.png", alt="BestShot.Bar", loading="lazy")
        .about__bestPrice
            img(src="../img/best_price.png", alt="Best Price", loading="lazy")
            .about__bestPrice__descr We are so sure in our product that we are ready to refund your money and take back the shooting bar amusement if you are not happy with it.