section.about 
    .container 
        .about__multimax 
            img(src="../img/multimax.png", alt="Multimax", loading="lazy")
            .about__multimax__descr Multimaxx Ltd работает на рынке развлекательных услуг более 10 лет. Одно из направлений в компании - производство уникальных аттракционов для баров.
        .about__picture
            img(src="../img/best_shot_bar.png", alt="BestShot.Bar", loading="lazy")
        .about__bestPrice
            img(src="../img/best_price.png", alt="Best Price", loading="lazy")
            .about__bestPrice__descr Мы знаем то, что нужно посетителям профильного заведения. Мы делаем аттракционы для развлечений со знанием своего дела, так как у нас есть своя сеть развлекательных центров.