section.advantages 
    .container 
        .right__items
            .right__items__item 
                img(src="../img/advantage_1.png", alt="Advantage", loading="lazy")
                .title  Гарантия 2 года           
            .right__items__item 
                img(src="../img/advantage_2.png", alt="Advantage", loading="lazy")
                .title  Аттракцион под ключ           
            .right__items__item 
                img(src="../img/advantage_3.png", alt="Advantage", loading="lazy")
                .title  Поддержка 24/7           
        .left__items 
            .left__items__item
                img(src="../img/advantage_4.png", alt="Advantage", loading="lazy")
                .title  Доход с первого дня         
            .left__items__item
                img(src="../img/advantage_5.png", alt="Advantage", loading="lazy")
                .title  Конкурентов нет         
            .left__items__item
                img(src="../img/advantage_6.png", alt="Advantage", loading="lazy")
                .title  Быстрая окупаемость         
