section.characteristics#char
    .container 
        .characteristics__title 
            span characteristics
            |  ХАРАКТЕРИСТИКИ
            hr
        .characteristics__contents
            .characteristics__contents__column 
                img(src="../img/unic.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title уникальность
                .characteristics__contents__column__descr Аналогов нет, аттракцион поднимает продажи, а посетители делают рекламу вашему заведению
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
            .characteristics__contents__column 
                img(src="../img/speed.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title Скорость
                .characteristics__contents__column__descr Одна минута тратится на стрельбу и наполнение стакана, эта техническая особенность, ускоряет продажи
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
            .characteristics__contents__column 
                img(src="../img/mobil.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title мобильность
                .characteristics__contents__column__descr Оператор может установить с мобильного управления любую чувствительность, даже если нужно попадать не целясь
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
            .characteristics__contents__column 
                img(src="../img/security.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title Безопасность
                .characteristics__contents__column__descr Стрельба безопасна, производится невидимым лучом, как в пульте для телевизора
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
        .payback__title окупаемость
        .payback__descr Одна минута тратится на стрельбу и наполнение стакана. В одном часе 60 минут. Пистолета 2, получается 120 раундов в час при полной загрузке аттракциона. Так как полная загрузка бывает не у всех и не всегда, берем для расчетов загрузку аттракциона 25%
        .payback__table
            table 
                tr 
                    th 2 пистолета, по 15 сессий в час на каждый пистолет
                    th Прайс
                    th Продажи в час
                    th Продажи за один день
                    th Продажи за 30 дней
                    th Продажи в год при 25% загрузке аттракциона
                tr 
                    th 30 сессий
                    th 2 Евро
                    th 60 Евро
                    th 600 Евро
                    th 18000 Евро
                    th 18000 Евро
                tr 
                    th 30 сессий
                    th 4 Евро
                    th 120 Евро
                    th 1200 Евро
                    th 36000 Евро
                    th 638000 Евро
                tr 
                    th 30 сессий
                    th 8 Евро
                    th 240 Евро
                    th 2400 Евро
                    th 72000 Евро
                    th 867000 Евро
        .payback__descr Персональный расчет дохода вы сможете сделать сами. Прайс, расчеты продаж в месяц и в год, для каждого заведения, делаются с учетом совокупности факторов и вашей локации.
        .plaback__check
            img(src="../img/chek.png", alt="Check", loading="lazy")