section.characteristics#char
    .container 
        .characteristics__title 
            span characteristics
            | Characteristics
            hr
        .characteristics__contents
            .characteristics__contents__column 
                img(src="../img/unic.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title uniqueness
                .characteristics__contents__column__descr There are no analogues, the attraction raises sales, visitors advertise your establishment
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
            .characteristics__contents__column 
                img(src="../img/speed.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title Speed
                .characteristics__contents__column__descr One minute is spent firing and filling the glass. This is a technical feature, speeds up sales.
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
            .characteristics__contents__column 
                img(src="../img/mobil.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title mobility
                .characteristics__contents__column__descr The operator can set any sensitivity from the mobile control, even if you have to hit without aiming.
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
            .characteristics__contents__column 
                img(src="../img/security.png", alt="Unic", loading="lazy")
                .characteristics__contents__column__title Safety
                .characteristics__contents__column__descr This amusement is absolutely safe, shooting is done on remote control principle. The shot produced by an invisible beam, like a TV remote.
                .characteristics__contents__column__check
                    img(src="../img/chek.png", alt="Check", loading="lazy")
        .payback__title payback
        .payback__descr One minute is spent firing and filling the glass. There are 60 minutes in one hour. With 2 guns, you get 120 games per hour at a full capacity of the attraction. Since full capacity is not always, we take for the calculations 25% capacity
        .payback__table
            table 
                tr 
                    th Rounds of play per hour. 2 guns, 15 rounds per gun per hour
                    th Price
                    th Sales per hour
                    th Daily Sales
                    th Sales per 30 days
                    th Annual sales per 25% capacity
                tr 
                    th 30
                    th 2 Euro
                    th 60 Euro
                    th 600 Euro
                    th 18000 Euro
                    th 18000 Euro
                tr 
                    th 30
                    th 4 Euro
                    th 120 Euro
                    th 1200 Euro
                    th 36000 Euro
                    th 638000 Euro
                tr 
                    th 30
                    th 8 Euro
                    th 240 Euro
                    th 2400 Euro
                    th 72000 Euro
                    th 867000 Euro
        .payback__descr You can make your own personal calculation of income. Price, sales calculations per month and per year, for each establishment, are made taking into account a combination of factors and your location.
        .plaback__check
            img(src="../img/chek.png", alt="Check", loading="lazy")