section.faq#faq
    .faq__picture 
        img(src="../img/faq_bg.png", alt="FAQ", loading="lazy") 
    .faq__contents 
        .faq__contents__title 
            span faq
            | All about the attraction
            hr
        .faq__contents__questions
            .faq__contents__questions__column
                .question
                    .title-question How does it work?
                    .content-question - The BestShot attraction is made to attract the attention of the public and to increase sales. The visitor shoots at targets and gets beer in their glass automatically after shooting. 
                .question
                    .title-question Is this attraction for business?
                    .content-question - Yes, the attraction boosts sales, and the revolver-shooting customers advertise the bar.
                .question
                    .title-question What does it bring to the customers?
                    .content-question - The customers get double the fun by having both the entertainment and the beer at the same time.
                .question
                    .title-question What is the payback period? 
                    .content-question Payback period of one to three months depending on personal factors, the place of installation, the price of the operating time and visitor traffic. For example, on the seafront road to the beach, in a tourist spot, the attraction can pay off in less than a month.
                .question
                    .title-question Warranty and technical support.
                    .content-question - Warranty 3 years, technical support 24/7.
            .faq__contents__questions__column
                .question
                    .title-question Is the attraction safe?
                    .content-question - The shot is safe, produced by an invisible beam, like a TV remote.
                .question
                    .title-question Where should I set up the attraction?
                    .content-question In a bar, cafe, beach, amusement park, entertainment center, festivals and celebrations.
                .question
                    .title-question Do customers need to know how to shoot? What are the settings for the shooting range?
                    .content-question - The operator can set any sensitivity from the mobile control, even if you have to hit without aiming. It's entertainment for visitors.
                .question
                    .title-question Is the beer poured at any result of the shooting?
                    .content-question The amount of beer is pre-set by the operator, in the settings. The default setting is this: Even if the customer misses, the beer is still poured, but only half a glass. Everybody's having fun!
            .faq__contents__questions__column
                .question
                    .title-question Can I order a mobile version of the attraction?
                    .content-question - Yes, you can order mobile attractions.
                .question
                    .title-question How do I get my business up and running quickly?
                    .content-question The attraction is delivered on a turnkey basis, which means that you can earn money with it right after installation.
                .question
                    .title-question Why does the attraction boost sales?
                    .content-question - Revolvers and Western style add to the wild west atmosphere.<br> - Everyone wants to try shooting a revolver.<br> - Installing an attraction emphasizes the uniqueness of your establishment and attracts new visitors like a magnet. <br>- People come out of curiosity, the novelty effect works. <br>- Beer is poured into the glass quickly, for 3-5 seconds, and without foam. This is a technical feature, speeds up sales.

