section.faq#faq
    .faq__picture 
        img(src="../img/faq_bg.png", alt="FAQ", loading="lazy") 
    .faq__contents 
        .faq__contents__title 
            span faq
            | ВСЁ ОБ АТТРАКЦИОНЕ
            hr
        .faq__contents__questions
            .faq__contents__questions__column
                .question
                    .title-question Как это работает?
                    .content-question - Аттракцион BestShot сделан для привлечения внимания публики и для повышения продаж. Посетитель стреляет по мишеням и получает после стрельбы пиво в свой бокал автоматически. 
                .question
                    .title-question Этот аттракцион для бизнеса?
                    .content-question - Да, аттракцион поднимает продажи, а стреляющие из револьвера ковбои делают рекламу бару.
                .question
                    .title-question Что это даст посетителям?
                    .content-question - Клиенты получают двойное удовольствие, так как одновременно развлекаются и пьют пиво.
                .question
                    .title-question Гарантия и техническая поддержка. 
                    .content-question Гарантия 3 года, техническая поддержка 24/7
                .question
                    .title-question Как быстро осуществить старт бизнеса?
                    .content-question - Аттракцион поставляется «Под ключ», это означает, что зарабатывать с его помощью можно сразу после установки.
            .faq__contents__questions__column
                .question
                    .title-question Аттракцион безопасен?
                    .content-question - Стрельба безопасна, производится невидимым лучом, как в пульте для телевизора.
                .question
                    .title-question Где установить аттракцион?
                    .content-question В баре, кафе, на пляже, в парке отдыха, развлекательном центре, на фестивалях и праздниках
                .question
                    .title-question Ковбоям нужно уметь стрелять? Какие настройки у тира?
                    .content-question - Оператор может установить с мобильного управления любую чувствительность, даже если нужно попадать не целясь. Это развлечение для посетителей.
                .question
                    .title-question Пиво наливается при любом результате стрельбы?
                    .content-question Количество пива заранее устанавливает оператор, в настройках. По умолчанию установлено так: Даже если ковбой промахнулся, пиво все равно наливается, но только половина стакана. Всем весело!
            .faq__contents__questions__column
                .question
                    .title-question Мобильный (передвижной) вариант аттракциона можно заказать?
                    .content-question - Да, мобильные аттракционы вы можете заказать.
                .question
                    .title-question Какие прогнозы по срокам окупаемости?
                    .content-question Срок окупаемости один-три месяца и зависит от персональных факторов, место установки, прайс время работы, трафик посетителей. Например, на набережной дороге к пляжу, в туристическом месте, аттракцион может окупиться меньше, чем за месяц.
                .question
                    .title-question Почему аттракцион повышает продажи?
                    .content-question - Револьверы и стиль «Вестерн» добавляют атмосферу дикого запада. - Всем хочется попробовать пострелять из револьвера - Установка аттракциона подчеркнет уникальность вашего заведения и привлекает новых посетителей как магнит <br>- Люди приходят из любопытства, работает эффект новизны <br>- Пиво наливается в стакан быстро, за 3 -5 секунд, и без пены. Это техническая особенность, ускоряет продажи

