footer 
    .container 
        .footer__contacts
            .footer__contacts__title 
                span Contacts
            .footer__contacts__list
                p
                    a(href="mail:info@bestshot.bar") info@bestshot.bar
                p       
                    a(href="tel:+35699948436") +3 569 994 84 36
                p Bay Street Complex, Level 4, San Ġiljan Malta
        .footer__contacts
            .footer__contacts__title Information
            .footer__contacts__list
                p
                    a(href="#") Privacy Policy
                p       
                    a(href="#") Cookie Policy
                p       
                    a(href="#") Terms and Conditions
               
        .footer__social  
            .footer__social__title Subscribe
            .footer__social__list
                .footer__social__list__icon 
                    a(href="#") 
                        img(src="../img/inst_1.png", alt="Instagram", loading="lazy")
                        span  Instagram
                .footer__social__list__icon 
                    a(href="#") 
                        img(src="../img/fb_1.png", alt="FaceBook", loading="lazy")
                        span  FaceBook
                .footer__social__list__icon 
                    a(href="#") 
                        img(src="../img/youtube_1.png", alt="Youtube", loading="lazy")
                        span  YouTube
.footer 
    span Copyright © 2021 BESTSHOT.BAR