doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Business Landing PageTemplate
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl", crossorigin="anonymous")
        link(rel="stylesheet", href="../styles/main.css")
    body 
        .loaderArea
            .loader
        include ./header_ru.pug
        include ./advantages_ru.pug
        include ./characteristics_ru.pug
        include ./slider.pug
        include ./price_ru.pug
        include ./about_ru.pug
        include ./faq_ru.pug
        include ./сontact-us_ru.pug
        include ./map.pug
        include ./footer_ru.pug 
        include ./popup_ru.pug
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        script(src="../js/script.js") 
        <script>$(function(){ $(window).scroll(function() { if($(this).scrollTop() >= 290) { $('.navbar').addClass('stickytop'); } else{ $('.navbar').removeClass('stickytop');  }   });  }); </script>
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js", integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0", crossorigin="anonymous") 
        <script> $(window).on('load', function () { $preloader = $('.loaderArea'), $loader = $preloader.find('.loader'); $loader.fadeOut();   $preloader.delay(350).fadeOut('slow');});</script>