section.map 
    .locations 
        .location-item 
            img(src="../img/location.png", alt="Locaion", loading="lazy")
        .location-item 
            img(src="../img/location.png", alt="Locaion", loading="lazy")
        .location-item 
            img(src="../img/location.png", alt="Locaion", loading="lazy")
        .location-item 
            img(src="../img/location.png", alt="Locaion", loading="lazy")
