.contact-us__forms.form-popup#myForm 
            form(action="")
                .form__title To buy amusement
                .form__img
                    img(src="../img/arrow.png", alt="Arrow", loading="lazy")
                .input__title NAME
                input(type="type", placeholder="What is your name?", required)
                .input__title TELEPHONE
                input(type="type", placeholder="Your phone number", required)
                button.btn-myprimary.eng Request to purchase
                button.btn-myprimary.close(onclick="closeForm()") X