section.price#price 
    .container 
        .price__title 
            span price
            | HOW MUCH AND HOW TO BUY?
            hr
        .price__contents 
            .price__contents__descr 
                .price__contents__descr__item
                    .price__contents__descr__item__number 
                        span.first 1
                    .price__contents__descr__item__title Send us your inquiry with <br>your specific requests
                .price__contents__descr__item
                    .price__contents__descr__item__number 
                        span.two 2
                    .price__contents__descr__item__title Receive an invoice that <br>could be paid in parts
                .price__contents__descr__item
                    .price__contents__descr__item__number 
                        span.tree 3
                    .price__contents__descr__item__title Get your entertainment <br>and have a great start!
                .btn-home
                    button.btn-myprimary.open-button(onclick="openForm()") Make an order
            .price__contents__prices
                img(src="../img/prece_bg.png", alt="Price")
                .price__contents__prices__block
                    .price__contents__prices__block__title Shooting Bar
                    .price__contents__prices__block__price 
                        span 22
                        | 000
                        img(src="../img/euro_money_bag.png", alt="Money")
                    .price__contents__prices__block__descr when buying from 2
                    .price__contents__prices__block__price.two  
                        span 20
                        | 000
                        img(src="../img/euro_money.png", alt="Money")