section.price#price 
    .container 
        .price__title 
            span price
            |  СКОЛЬКО СТОИТ И КАК КУПИТЬ?
            hr
        .price__contents 
            .price__contents__descr 
                .price__contents__descr__item
                    .price__contents__descr__item__number 
                        span.first 1
                    .price__contents__descr__item__title Отправьте нам заявку <br>и свои пожелания
                .price__contents__descr__item
                    .price__contents__descr__item__number 
                        span.two 2
                    .price__contents__descr__item__title Получите инвойс <br>на оплату частями
                .price__contents__descr__item
                    .price__contents__descr__item__number 
                        span.tree 3
                    .price__contents__descr__item__title Принимайте аттракцион, <br>хорошего старта!
                .btn-home
                    button.btn-myprimary.open-button(onclick="openForm()") Оставить заявку
            .price__contents__prices
                img(src="../img/prece_bg.png", alt="Price")
                .price__contents__prices__block
                    .price__contents__prices__block__title “ТИР-БАР”
                    .price__contents__prices__block__price 
                        span 22
                        | 000
                        img(src="../img/euro_money_bag.png", alt="Money")
                    .price__contents__prices__block__descr при покупке от 2 шт.
                    .price__contents__prices__block__price.two  
                        span 20
                        | 000
                        img(src="../img/euro_money.png", alt="Money")