section.contact-us 
    .container 
        .contact-us__title РЕШИЛИ ПОДНЯТЬ ПРОДАЖИ?<br>
            span - ВЫ СЕЙЧАС В НУЖНОМ МЕСТЕ В НУЖНОЕ ВРЕМЯ!
        .contact-us__descr Мы настолько уверены в вашем успехе, что готовы предложить вернуть вам деньги и забрать назад аттракцион, если он вам не понравится.
        .contact-us__forms 
            form(action="")
                .form__title КУПИТЬ АТТРАКЦИОН
                .form__img
                    img(src="../img/arrow.png", alt="Arrow", loading="lazy")
                .input__title ИМЯ
                input(type="type", placeholder="Как Вас зовут?", required)
                .input__title ТЕЛЕФОН
                input(type="type", placeholder="Ваш номер телефона", required)
                button.btn-myprimary Купить
            form(action="")
                .form__title.second_form ДЛЯ ДИСТРИБЬЮТОРОВ
                .form__img
                    img(src="../img/arrow.png", alt="Arrow", loading="lazy")
                .input__title ИМЯ
                input(type="type", placeholder="Как Вас зовут?", required)
                .input__title ТЕЛЕФОН
                input(type="type", placeholder="Ваш номер телефона", required)
                button.btn-myprimary Консультация