section.contact-us 
    .container 
        .contact-us__title HAVE DECIDED TO INCREASE SALES?<br>
            span - YOU ARE NOW IN THE RIGHT PLACE AT THE RIGHT TIME!
        .contact-us__descr We are so sure in our product that we are ready to refund your money and take back the shooting bar amusement if you are not happy with it.
        .contact-us__forms.eng 
            form(action="")
                .form__title To buy amusement
                .form__img
                    img(src="../img/arrow.png", alt="Arrow", loading="lazy")
                .input__title NAME
                input(type="type", placeholder="What is your name?", required)
                .input__title TELEPHONE
                input(type="type", placeholder="Your phone number", required)
                button.btn-myprimary.eng Request to purchase
            form(action="")
                .form__title.second_form For distributors
                .form__img
                    img(src="../img/arrow.png", alt="Arrow", loading="lazy")
                .input__title NAME
                input(type="type", placeholder="What is your name?", required)
                .input__title TELEPHONE
                input(type="type", placeholder="Your phone number", required)
                button.btn-myprimary Consultation